.titulo {
    font-size: 24px;
    font-weight: 700;
    color: #1D214E;
}

.subtitulo {
    font-size: 20px;
    font-weight: 700;
    color: #1D214E;
}

.texto {
    font-size: 14px;
    font-weight: 500;
    color: #1D214E;
    background-color: #F6F8FF;
}

.texto-cab {
    font-size: 14px;
    font-weight: 500;
    color: #1D214E;    
}